{% extends 'base.html' %}
{% block main %}
<header class="page-header">
    <h1>Pedidos</h1>
    <a class="btn-primary" href="{% url 'createOrder' %}">Adicionar Pedido</a>
</header>

{% include 'orderFilter.html' %}

{% if order_list %}
<div class="table-container">
    <table class="data-table">
        <thead>
        <tr>
            <th>Fornecedor</th>
            <th>Produto</th>
            <th>Data do Pedido</th>
            <th>Quantidade</th>
            <th>Valor</th>
            <th>Status</th>
            <th class="actions-header">Ações</th>
        </tr>
        </thead>
        <tbody>
        {% for order in page_obj %}
        <tr>
            <td>{{ order.provider.name }}</td>
            <td>{{ order.product.name }}</td>
            <td>{{ order.orderDate }}</td>
            <td>{{ order.quantity }}</td>
            <td>R$ {{ order.value }}</td>
            <td>{{ order.status }}</td>
            <td class="data-table actions">
                <a href="{% url 'updateOrder' order.id %}" class="btn-edit">Editar</a>
                <a href="{% url 'deleteOrder' order.id %}" class="btn-delete">Excluir</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<p>Nenhum pedido cadastrado.</p>
{% endif %}

{% include 'pagination.html' %}
{% endblock %}
