{% extends 'base.html' %}
{% block main %}
<header class="page-header">
    <h1>Produtos</h1>
    <a class="btn-primary" href="{% url 'createProduct' %}">Adicionar Produto</a>
</header>

{% if products %}
<div class="products-container">
    <div class="products-grid-large">
        {% for product in products %}
        <div class="product-card-large">
            {% if product.image %}
            <img src="{{ product.image.url }}" alt="{{ product.name }}">
            {% endif %}
            <div class="product-info-large">
                <h3>{{ product.name }}</h3>
                <p class="description">{{ product.description }}</p>
                <p class="price">R$ {{ product.salePrice }}</p>
                <div class="product-stats">
                    <p class="quantity">Quantidade restante:{{ product.quantity }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% else %}
<p>Nenhum produto cadastrado.</p>
{% endif %}

{% endblock %}
