<form method="get" class="filter-form">

    <div class="filter-group">
        <label for="id_provider_name">Fornecedor</label>
        {{ filter_form.provider_name }}
    </div>

    <div class="filter-group">
        <label for="id_product_name">Produto</label>
        {{ filter_form.product_name }}
    </div>

    <div class="filter-group">
        <label for="id_status">Status</label>
        {{ filter_form.status }}
    </div>

    <div class="filter-group">
        <label for="id_start_date">Data inicial</label>
        {{ filter_form.start_date }}
    </div>

    <div class="filter-group">
        <label for="id_end_date">Data final</label>
        {{ filter_form.end_date }}
    </div>

    <button type="submit" class="btn-primary">Filtrar</button>
</form>
